<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CordChorus</title>
  <link rel="grace-note icon" type="image/png" href="../icons/music-solid.svg"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-dark">
  <div class="flex-column justify-space-between">
    <header class="display-flex flex-wrap justify-space-between align-center p-2 m-5">
      <h1>
        <span><img class="grace-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Grace_note.svg/1200px-Grace_note.svg.png"></span>
        <a href="/">CodeChorus</a>
      </h1>
      <h3 style="font-style:italic;font-weight:lighter;">Your trusted home for tech tawk.</h3>
      <nav>
        <!-- login / logout display -->
        {{#if logged_in}}
        <a href="/">Home</a> |
        <a href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- layout -->
      {{{ body }}}
    </main>
    <footer class="footer">
      <span>Made with logic and arithmetic</span>
      <a href="https://github.com/mcjbyday/CodeChorus" target="_blank"><span class="githubicon"></span></a>
    </footer>
  </div>

  <!-- logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>
