<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Topic:</h3>

    <form class="form new-topic-form">
      <div class="form-group">
        <label for="topic-name">topic name:</label>
        <input class="form-input" type="text" id="topic-name" name="topic-name" />
      </div>
      <div class="form-group">
        <label for="topic-desc">description:</label>
        <textarea class="form-input" id="topic-desc" name="topic-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/dashboard.js"></script>
